/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main), system-ui;
  font-variation-settings: "wght" var(--font-weight-text);
  background-image:
    var(--page-gradient-horizontal), var(--page-gradient-vertical),
    var(--page-gradient-main);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  padding-block: 100px;
}

.header {
  margin-inline: 0;
}

.header__container {
  margin-inline: auto;
  inline-size: var(--content-width);
  font-family: var(--font-accent), cursive;
  background-color: var(--main-color);
  border: none;
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
  box-sizing: border-box;
  padding-block: var(--header-padding-block);
  padding-inline: var(--header-padding-inline);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__logo,
.header__title {
  margin: 0;
  text-transform: uppercase;
  line-height: 1;
}

.header__logo {
  font-size: var(--logo-size);
}

.header__title {
  font-size: var(--title-size);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block-start: 98px;
  margin-block-end: 50px;
}

.card {
  inline-size: clamp(375px, 50vw, 700px);
  background-color: var(--card-bg);
  border: 2px solid var(--accent-color);
  font-family: var(--font-main), system-ui;
  margin-inline: auto;
}

.card__title {
  margin: 0;
  padding: var(--card-title-padding);
  font-family: var(--font-main), system-ui;
  font-variation-settings: "wght" var(--font-weight-title);
  font-size: 18px;
  line-height: 122%;
}

.card__image {
  display: block;
  inline-size: clamp(371px, 50vw, 696px);
  block-size: clamp(371px, 50vw, 696px);
  object-fit: cover;
}

.card__image-container {
  position: relative;
  border-block-start: 2px solid #000;
  border-block-end: 2px solid #000;
}

.card__body {
  padding: var(--card-padding);
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
}

.card__text {
  margin: 0;
  font-family: var(--font-main), system-ui;
  font-variation-settings: "wght" var(--font-weight-text);
  font-size: 18px;
  line-height: 21px;
}

.card__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
}

.button {
  background-color: var(--main-color);
  color: var(--main-color);
  border: var(--card-border-width) solid var(--accent-color);
  cursor: pointer;
  font-family: var(--font-accent), cursive;
  font-size: 14px;
  line-height: 0.9;
  font-weight: 400;
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.button-text {
  position: relative;
  mix-blend-mode: difference;
  z-index: 1;
}

.card__like-button {
  block-size: var(--like-button-height);
  inline-size: var(--like-button-width);

}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.save__button {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  inline-size: 335px;
  block-size: 55px;
  margin-inline: auto;
  gap: 8px;
}

.save__button-icon {
  inline-size: 21px;
  block-size: 21px;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.card__icon-button {
  border: none;
  outline: 2px solid transparent;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  transition: outline 0.3s ease;
  user-select: none;
  block-size: 36px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.like-icon {
  width: 39px;
  height: 36px;
}

.card__grayscale {
  filter: grayscale(75%);
}

.card__saturate {
  filter: saturate(400%);
}

.card__invert {
  filter: invert(80%);
}

.card__sepia {
  filter: sepia(80%);
}

.card__hue-rotate {
  filter: hue-rotate(20deg);
}

.card__blur {
  filter: blur(15px);
}

.card__hue {
  filter: hue-rotate(100deg) grayscale(30%) contrast(65%);
}

.card__image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  font-family: var(--font-accent), cursive;
  font-size: 14px;
  font-weight: 400;
  color: var(--accent-color);
  text-shadow:
    1px 1px 0 var(--main-color),
    -1px -1px 0 var(--main-color),
    1px -1px 0 var(--main-color),
    -1px 1px 0 var(--main-color);
  mix-blend-mode: hard-light;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
}

.dialog {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-color);
  border: 2px solid var(--accent-color);
  padding: 30px;
  transition: opacity 0.3s ease-in-out;
}

.dialog__container {
  display: flex;
  align-items: center;
  margin-block-end: 30px;
  gap: 20px;
}

.dialog__icon {
  inline-size: 39px;
  block-size: 39px;
}

.dialog__text {
  font-family: var(--font-accent), cursive;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  max-inline-size: 202px;
}

.dialog__button {
  text-transform: uppercase;
  inline-size: 293px;
  block-size: 38px;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button:hover::after {
  transform: translateX(0);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

body:has(.dialog[open]) {
  overflow: hidden;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}



.sparks {
  opacity: 0;
}

.heart path {
  transition: fill 0.3s linear;
}

.heart .contour {
  transition-duration: 0.1s;
}

.heart .core {
  transition-delay: 0.03s;
}

.like-icon:hover .heart path {
  fill: var(--accent-color);
  transition: fill linear 0.3s;
}

.like-icon:hover .heart .main-body {
  transition-delay: 0.05s;
}

.like-icon:active .heart path:not(.contour) {
  fill: #f00;
  transition: fill linear 0.3s;
}

.like-icon:active .heart .main-body {
  transition-delay: 0.05s;
}

.like-icon.is-liked path {
  fill: #f00;
  transition: fill linear 0.3s;
}

.like-icon.is-liked:hover .heart path {
  fill: #f00;
}

.like-icon.is-liked .main-body {
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  transition-delay: 0.06s;
}

.like-icon.is-liked .heart path {
  animation: scale-heart 0.3s ease-in;
  animation-delay: 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: changeOpacity 0.3s ease-in 0.3s forwards;
}

@supports ((text-stroke: 1px #ffffff) or (-webkit-text-stroke: 1px #ffffff)) {
  .card__image-label {
    -webkit-text-stroke: 1px var(--main-color);
    text-stroke: 1px var(--main-color);
    text-shadow: none;
  }
}

@media (width <= 375px) {
  .save__button {
    flex-direction: column;
    inline-size: 306px;
    block-size: 84px;
  }
  .save__button .save__button-icon {
    inline-size: 28px;
    block-size: 28px;
  }
  .dialog {
    padding-inline: 40px;
  }
  .dialog__button {
    inline-size: 253px;
  }
}
