:root {
  --font-main: "Inter", sans-serif;
  --font-accent: "PressStart2P", cursive;
  --font-weight-text: 410;
  --font-weight-title: 715;
  --page-gradient-horizontal: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px);
  --page-gradient-vertical: repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px);
  --page-gradient-main: linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --content-width: clamp(375px, 100vw, 1440px);
  --content-width: clamp(375px, 100%, 700px);
  --header-padding-block: clamp(122px, calc(119px + 0.751vw), 130px);
  --header-padding-inline: clamp(16px, calc(16px + 10vw), 122.5px);
  --main-color: #fff;
  --accent-color: #000;
  --header-border-color: #000;
  --header-bg: #fff;
  --logo-size: clamp(49px, 4.8vw, 65px);
  --title-size: clamp(14px, 1.7vw, 23px);
  --card-bg: #fff;
  --card-border-color: #000;
  --card-border-width: 2px;
  --card-title-padding: 4px 10px;
  --card-gap: 25px;
  --card-padding: 25px;
  --like-button-height: 38px;
  --like-button-width: 130px;
  --contour-color: black;
  --fill-color: transparent;
  --core-color: transparent;
  --sparks-color: #F00;
}
